body{
    background-image:url('img/bg.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}
